.footer-bg{
  background-color: #000;
  color: #fff;
}
.footer-d-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}
.footer-line{
  border-bottom: 1px solid #a0a0a0;
}

.footer-links-container{
  display: flex;
  flex-wrap: wrap;
}
.footer-links-sub-container{
  min-width: 17%;
  margin-right: 30px;
}

.footer-links{
  color: #a0a0a0;
  transition: all ease 0.5s;
  text-decoration: none;
}

.footer-links:hover{
  text-decoration: underline;

}


@media screen and (max-width: 500px){

  .home-crypto-banner-header{
      font-size: 30px;
  }

  .footer-links-container{
      display: block;
  }


}